<!-- header -->
<section class="header-container">
    <button class="logout-hide" mat-flat-button></button>
    <span class="title">Juego de Dados</span>
    <button class="logout" mat-flat-button color="warn" (click)="logOut()">Cerrar Sesión</button>
</section>
<!-- end header -->

<!-- game card -->
<section class="game-card">

    <div class="section-left">
        <div class="game-instructions">
            <h1 class="center">Bienvenido {{alias}}</h1>
            <p class="center">Instrucciones: </p>
            <p></p>
            <p>I.- Selecciona el Nivel de Dificultad.</p>
            <p>II.- Lanza los Dados.</p>
            <p>III.- Ganas si Obtienes el Puntaje Necesario para Cada Nivel.</p>
            <p></p>
            <p class="center">Puntajes Para Ganar:</p>
            <p></p>
            <p>Novato: 6</p>
            <p>Normal: 7</p>
            <p>Experto: 15</p>
        </div>
    </div>

    <div class="section-right">
        <div class="game-container">
            <p class="center">Selecciona el Nivel de Dificultad</p>
            <div class="choose-level">
                <select id="difficulty" [(ngModel)]="difficulty" (change)="updateDifficulty()" [disabled]="difficultySelected">
                    <option value="novato">Novato</option>
                    <option value="normal">Normal</option>
                    <option value="experto">Experto</option>
                </select>
            </div>
    
            <div class="scoring-required">
                <p id="score-needed">Puntuación Necesaria: <span>{{ scoreNeeded }}</span></p>
            </div>
    
            <div class="current-score">
                <p id="score-obtained">Puntuación Actual: <span>{{ currentScore }}</span></p>
            </div>
    
            <div class="dice-container">
                <div *ngFor="let die of diceRolls" class="die">{{ die }}</div>
            </div>
    
            <button class="roll-button" (click)="rollDice()" [disabled]="rollDiceButton">Lanzar Dados</button>
        </div>
    </div>
</section>
<!-- end game card -->