<!-- header -->
<section class="header-container">
    <button class="logout-hide" mat-flat-button></button>
    <span class="title">Dashboard</span>
    <button class="logout" mat-flat-button color="warn" (click)="logOut()">Cerrar Sesión</button>
</section>
<!-- end header -->

<!-- game card -->
<section class="game-card">
    <div class="game-container">
        <h2>Juego de Dados</h2>
        
        <div class="choose-level">
            <label for="difficulty">Dificultad: </label>
            <select id="difficulty" [(ngModel)]="difficulty" (change)="updateDifficulty()">
                <option value="novato">Novato</option>
                <option value="normal">Normal</option>
                <option value="experto">Experto</option>
            </select>
        </div>

        <div class="scoring-required">
            <p id="score-needed">Puntuación necesaria: <span>{{ scoreNeeded }}</span></p>
        </div>

        <div class="current-score">
            <p id="score-obtained">Puntuación actual: <span>{{ currentScore }}</span></p>
        </div>

        <div class="dice-container">
            <div *ngFor="let die of diceRolls" class="die">{{ die }}</div>
        </div>

        <button class="roll-button" (click)="rollDice()">Lanzar Dados</button>
    </div>

    <div class="record-container">
        <h1>Historial de Juegos</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">N1 - Wins</th>
                    <th scope="col">N2 - Wins</th>
                    <th scope="col">N3 - Wins</th>
                    <th scope="col">N1 - Lost</th>
                    <th scope="col">N2 - Lost</th>
                    <th scope="col">N3 - Lost</th>
                    <th scope="col">Total Wins</th>
                    <th scope="col">Total Lost</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{record_user.user}}</td>
                    <td>{{record_user.n1w}}</td>
                    <td>{{record_user.n2w}}</td>
                    <td>{{record_user.n3w}}</td>
                    <td>{{record_user.n1l}}</td>
                    <td>{{record_user.n2l}}</td>
                    <td>{{record_user.n3l}}</td>
                    <td>{{record_user.wins}}</td>
                    <td>{{record_user.losses}}</td>
                </tbody>
            </table>
    </div>
</section>
<!-- end game card -->